<h1>Cadastro de Pessoas</h1>

<form ngForm name="cadastro">
  <p>Nome:<input type="text" name="nome" [(ngModel)]="nome">
     Idade:<input type="number" name="idade" [(ngModel)]="idade">
  <button (click)="adicionar()">OK</button></p>
</form>

<style>
  table, th, td {
    border: 0.1px solid black;
  } 
</style>

<b>Pessoas Cadastradas</b>

<table>
  <tr>
    <td><b>Nome</b></td>
    <td><b>Idade</b></td>
    <td><b>Excluir</b></td>
  </tr>
  <tr *ngFor="let pessoa of pessoas; let i = index">
    <td > {{ pessoa.nome }} </td>
    <td> {{ pessoa.idade }}</td>
    
    <td><button (click)="excluir(pessoa)">X</button></td>
  </tr>
</table>

<p>Total de pessoas cadastradas: {{totalizador}}</p>

<div *ngIf="!null && jovem && velho">
  <p>Pessoa mais jovem:{{jovem.nome}}, com {{jovem.idade}} anos</p> 
  <p>Pessoa mais idosa:{{velho.nome}}, com {{velho.idade}} anos</p> 
</div>